<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <div class="navbar-nav align-items-center">
                <a href="/" class="nav-link" id="nav-home">Home</a>
                <a href="/campgrounds" class="nav-link" id="nav-campgrounds">Campgrounds</a>
                <a href="/campgrounds/new" class="nav-link" id="nav-new-campground">New Campground</a>
            </div>
            <div class="navbar-nav ms-auto align-items-center">
                <% if(!user){ %>
                    <a href="/login" class="btn btn-outline-light me-2 mb-2 mb-md-0">Login</a>
                    <a href="/register" class="btn btn-outline-light me-2">Register</a>
                <% }else{ %>
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" id="account-dropdown" data-bs-toggle="dropdown">Account</button>
                        <ul class="dropdown-menu">
                            <li><a href="/my-campgrounds" class="dropdown-item">My Campgrounds</a></li>
                            <li><a href="/settings" class="dropdown-item">Settings</a></li>
                            <li>
                                <form action="/logout" method="POST">
                                    <button class="dropdown-item">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</nav>