body{
          background-image: url("image-icon/crowd1.jpg");
          background-repeat: no-repeat;
}

body.slots, body.camps{
          background-image: url("image-icon/crowd.jpg");
          background-repeat: no-repeat;
}

body.stat{
          background-image: url("image-icon/crowd2.jpg");
          background-repeat: repeat-y;
}

body.gate{
          background-image: none;
}

header{
          opacity: 0.8;
          width:100%;
          height:170px;
          background-color: #174dc2;
          color:white;
          text-align:center;
          margin:-8px -8px 0px -8px;
          padding: 5px;
          font-family:fantasy;
          letter-spacing: 4px;
          font-size: 55px;
          font-weight: 200;
}

.header-top{
          height: 125px;
          padding-top: 35px;
}
.header-bot{
          text-align: center;
          font-size:30px;
          width:100px;
          background-color: lightblue;
          margin-top: -30px;
          font-family:monospace;
          font-weight: bold;
}

.bug.header-bot{
          letter-spacing: -2px;
          width:170px;
          
}

a{
          text-decoration: none;
          color:black;
}

a.header-bot:hover{
          color:#174dc2;
          font-size:32px;
}

footer{
          opacity: 0.7;
          width:100%;
          height:40px;
          background-color: #174dc2;
          margin:0px -8px -8px -8px;
          padding: 5px;
}

.mid{
          height:380px;
          background-color: lightcyan;
          margin:0px -8px 0px -8px;
          padding: 5px;
          width:100%;
          text-align: center;
}

.message{
          height:30%;
          padding: 40px;
          font-size:35px;
          font-weight: bold;
          color:darkblue;
}

.btn {
  background-color: #174dc2;
  border: none;
  color: white;
  padding: 15px 20px 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
}

.entry{
          border-radius: 50%;
          border:1px black solid;
          font-family: cursive;
}

.entry:hover{
          font-size:23px;
}

.form{
          font-size:25px;      
          padding-top: 60px;
          padding-right: 60px;
}

.subform{
  background-color: #174dc2;
  border: none;
  color: white;
  padding: 15px 20px 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
}

.info{
          padding: 10px;
}

.blockslot{
          padding:20px;
          display: none;
          font-size: 20px;       
          font-weight:200;   
          font-family: cursive;
}

.times{
          padding: 0px 340px;
          padding-top: 20px;
}

fieldset{
          border:1px black solid;
}

.time{
          color:darkslategray;
}

.mid.slot{
          height:500px;
}

#hide1{
          padding-top: 50px;
}

#hide2#hide3{
          padding-top: 30px;
}

.blockpay{
    display: none;
    padding-top:60px;
    font-size:25px;  
    font-weight:200;
    font-family:serif   
}

.mid.places{
    height:500px;
}

.place{
          float:left;
          width:25%;
          color:blue;
}

.location{
          padding-top: 10px;
          font-size:19px;
          font-weight:600;
}

.help{
          text-align: center;
          padding-left:60px;
          font-size: 16px;
          font-weight:normal;
}

.website{
          padding-right: 27px;
          border:0px solid blue;
}

.written{
          display: block;
          float:right;
          padding: 10px 90px 0px 0px;       
}

.written:hover{
          font-weight:bold;
          font-size:18px;
          opacity:0.8;
          color:darkblue;
          transition: 0.2s;
}

.top{
          background-color: blue;
          height:80px;
          width:103%;
          text-align: center;
          border: 2px solid blue;
          border-bottom: none;
          margin:-7px 0px 0px -7px;
          color: white;
          font-weight: 600;
          font-family: cursive;
          font-size: 20px;
}

.fit{
          display: block;
          padding-top:25px;
}

.footer{
          background-color: lightcyan;
          height:323px;
          color: black;
          width:103%;
          margin:0px 0px 0px -7px;
          border: 2px solid blue;
}

.option{
          padding: 10px 20px 0px 30px;
          height:70px;
          color:darkblue;
}

.detail1, .detail2, .detail3, .detail4{
           float:left;
           width:50%;
           padding:none;
}

::-webkit-scrollbar{
    width: 12px;
  }

::-webkit-scrollbar-track{
    background: white;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(50, 100, 255, 0.9);
    border-radius: 20px;
    border: 2px solid darkblue;
}

.mid.stats{
          height: 1600px;
          background-color: lightcyan;
}

.head{
          display: block;
          margin-top:50px;
          margin-bottom: -50px;
          font-size:30px;
          font-weight:bold;
          font-family: cursive;
          color:darkblue;
}

.h.header{
          height:180px;
}

.h.header-top{
          margin-bottom: 37px;
          margin-top:-19px;
          margin-left:10px;
}

.h.header-bot{
          margin-right:30px;
          margin-left:-65px;
          font-size:30px;
}

a.h{
          text-decoration: none;
}

a.h:hover{
          font-size:32px;
}


th{ 
          text-align:left;
}

td{
    font-weight: 400;
}

td:nth-child(1){
    background-color: rgb(244, 244, 255);
}

td:nth-child(2),td:nth-child(3),td:nth-child(4),td:nth-child(5){
    text-align: center;
}

.nav{
    margin-bottom: 10px;
}

td:nth-child(2){
    color: red;
}

td:nth-child(3){
    color: #008000 ;
}

td:nth-child(4){
    color: #1E90FF;
}

td:nth-child(5){
    color: #696969;
}

tfoot{
    font-weight: 700;
}

.row{
    margin-top: 40px;
}

.Table{
    display: inline-block;
    max-width: fit-content;
    margin: 50px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px;
    border-color: black;
    border-style: groove;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.btn:hover, .btn:focus, .btn:active {
  box-shadow: 4px 4px 4px rgba(0, 0, 255, 0.6);
}

