<%- include('partials/start') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
<div class="row" id="weather-card-container">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 mb-2">
        <ul class="nav nav-pills mb-3" id="pills-tab">
            <li class="nav-item">
                <a class="nav-link active" id="pills-name-tab" data-bs-toggle="pill" href="#pills-name">Name</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-latlong-tab" data-bs-toggle="pill" href="#pills-latlong">Latitude and Longitude</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-name">
                <form id="search-name-form" class="d-flex needs-validation" novalidate>
                    <input type="search" id="search-name" class="form-control" placeholder="Search by name" list="suggestions" required>
                    <datalist id="suggestions"></datalist>
                    <button class="btn btn-primary ms-2"><i class="bi bi-search"></i></button>
                </form>
            </div>
            <div class="tab-pane fade" id="pills-latlong">
                <form id="search-latlong-form" class="d-flex needs-validation" novalidate>
                    <input type="number" step="0.01" id="search-lat" class="form-control" placeholder="Latitude" required>
                    <input type="number" step="0.01" id="search-long" class="form-control ms-2" placeholder="Longitude" required>
                    <button class="btn btn-primary ms-2"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="text-center mt-2">
    Powered by <a href="https://www.weatherapi.com/" title="Free Weather API">WeatherAPI.com</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/validation.js"></script>
<script src="/js/index.js"></script>
<%- include('partials/end') %>