<%- include('../partials/start-container') %>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Change password</h1>
            <form action="/settings/change-password" method="POST" class="mt-4 needs-validation" novalidate>
                <div class="mb-2">
                    <label for="current" class="form-label">Current password</label>
                    <input type="password" id="current" name="current" placeholder="Current password" class="form-control" required>
                </div>
                <div class="mb-2">
                    <label for="new" class="form-label">New password</label>
                    <input type="password" id="new" name="new" placeholder="New password" class="form-control" required>
                </div>
                <button class="btn btn-danger">Submit</button>
                <a href="/settings" class="btn btn-primary">Back</a>
            </form>
        </div>
    </div>
<%- include('../partials/end-container') %>