<%- include('../partials/start-container') %>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-danger">
            <h1 class="h4">Warning!</h1>
            <p>
                Are you sure, you want to delete this user account?
                All the campgrounds and reviews associated with this account will be permanently deleted.
                This action is irreversible.
            </p>
            <form action="/settings/delete" method="POST">
                <button class="btn btn-danger">Delete</button>
                <a href="/settings" class="btn btn-primary">Back</a>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/end-container') %>